# Dependências
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Teste
/coverage

# Next.js
/.next/
/out/

# Produção
/build

# Arquivos diversos
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente local
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
.env*

# Anotações de Desenvolvimento do Projeto 
anotacoes.md

# Desing do Site
DESING_SYSTEM.md
