.page {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.products {
  background-color: $surface;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;

  .content {
    width: 100%;
    max-width: 1440px;
    padding: 70px 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 1075px) {
      padding: 9%;
      margin-top: 70px;
    }
  
    .categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 16px 30px;
      color: $primary;
      text-decoration: underline;
      text-transform: uppercase;
      width: 100%;
      margin-bottom: 60px;

      @media (max-width: 1075px) {
        text-align: center;
      }
  
      .active, a:hover {
        font-weight: 900;
      }
    }

    .products {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      justify-content: center;
      align-items: flex-start;

      .product {
        display: flex;
        flex-direction: column;
        max-width: 208px;
        gap: 15px;

        @media (max-width: 1075px) {
          max-width: 120px;
        }

        .img {
          @media (max-width: 1075px) {
            max-width: 100%;
            height: auto;
          }
        }

        .name {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}


.description {
  background-color: $white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;

  .content {
    width: 100%;
    max-width: 1440px;
    padding: 60px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 1075px) {
      padding: 9%;
    }

    .subtitle {
      color: $secondary;
      font-size: 16px;
      text-align: center;
      margin-bottom: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .title {
      color: $primary;
      text-align: center;
      font-size: 30px;
      margin-bottom: 7px;
      text-transform: uppercase;
    }

    .motto {
      font-size: 20px;
      text-align: center;
      font-weight: 400;
      margin-bottom: 44px;
    }

    .bullets {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      gap: 32px 60px;
    }

    .bullet {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      max-width: 370px;

      .dot {
        background-color: $secondary;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        margin-bottom: 24px;
      }

      .name {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;

        &:not(b) {
          font-size: 18px;
        }
      }

      p {
        font-size: 12px;
        text-align: justify;
      }
    }
  }
}