.page {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.emphasis {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 27px;
  max-width: 798px;
  margin-top: 16px;

  @media (max-width: 1075px) {
    font-size: 32px;
  }
}

.cta button {
  margin-top: 1rem;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
}

.articleDetails {
  display: flex;
  align-items: center;
  max-width: fit-content;
  font-size: 16px;
  line-height: 24px;

  .authorImg {
    border-radius: 50%;
    margin-right: 12px;
  }

  .authorName {
    font-weight: 500;
    margin-right: 20px;
  }
}

.articles {
  background-color: $surface;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;

  .content {
    width: 100%;
    max-width: 1440px;
    padding: 70px 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px 16px;

    @media (max-width: 1075px) {
      padding: 9%;
    }
  }
}

.articleContainer {
  background-color: $surface;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .article {
    width: 100%;
    max-width: 1172px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0;

    @media (max-width: 1075px) {
      padding: 100px 9% 9% 9%;

      .back {
        margin-bottom: 16px;
        position: relative;
        left: -16px;
      }
    }

    .content {
      max-width: 800px;
      margin: 0 auto;
      color: $text-neutral;
    }

    .header {
      margin-bottom: 32px;

      .title {
        font-size: 36px;
        font-weight: 600;
        margin: 16px 0 20px;
        color: $primary;

        @media (max-width: 1075px) {
          font-size: 30px;
        }
      }
    }

    .img {
      border-radius: 12px;
      max-width: 100%;
      height: 100%;
      margin-bottom: 32px;
    }

    .subtitle {
      color: $primary;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    .text, ul {
      margin-bottom: 32px;
      line-height: 32px;

      b {
        color: $secondary;
      }
    }

    .articleNote {
      border-top: 1px solid rgba($primary, 0.24);
      border-bottom: 1px solid rgba($primary, 0.24);
      padding: 24px 0;
    }

    li {
      margin-bottom: 12px;
    }

    .up {
      transform: rotate(90deg);
      margin-left: auto;
    }
  }

}
