.navbar {
  position: fixed;
  top: 2rem;
  left: 9%;
  width: 82%;
  max-width: 1172px;
  height: 88px;
  margin: 0 auto;
  padding: 25px 60px;
  background-color: $primary;
  color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  @media (min-width: 1440px) {
    left: calc((100% - 1172px) / 2);
  }

  @media (max-width: 1075px) {
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    padding: 16px 32px 32px 16px;
  }
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

.navItemGroup {
  display: flex;
  justify-content: flex-end;
  gap: 0 19px;
}

.navItem {
  font-size: 1rem;
  line-height: 23px;
  text-transform: uppercase;
  
  .active, a:hover {
    font-weight: 900;
  }
}

.hamburger {
  display: none;
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
    cursor: pointer;

    &.active {
      .bar {
        &:nth-child(1){
          transform: translateY(8px) rotate(45deg);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }

  .bar {
    background-color: $white;
    width: 20px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .navItemGroup {
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 70px;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.3s ease-in-out;
    background-color: $primary;
    padding-left: 16px;
    padding-bottom: 16px;

    &.active {
      left: 0;
    }
  }

  .navItem {
    margin: 8px 0;
  }
}