// color scheme
$primary: #002D5D;
$secondary: #3AA0DB;
$detail: #74B88E;
$neutral: #999999;
$neutral-light: #D9D9D9;
$surface: #F2F3FA;
$black: #000000;
$white: #FFFFFF;
$text-neutral: #6F6F6F;

// Font family
$main-font: 'Montserrat', sans-serif;